{%  extends 'leaseslicensing/emails/base_email.html' %}

{%  block content %}
            <p>Your proposal for a lease or licence <strong>{{proposal.lodgement_number}}</strong> has been declined</p>

            {% if reason %}
            <p>
                <strong>Decline Reason:</strong> {{ reason }}
            </p>
            {% endif %}

            <p>If you have any queries regarding this decision please contact a licensing officer on {{settings.DEP_PHONE}}, or email {{settings.SUPPORT_EMAIL}}</p>
{%  endblock %}
