{%  extends 'leaseslicensing/emails/base_email.html' %}

{%  block content %}
        <p>
            The following new invoice records have been created for {{ approval.approval_type }} {{ approval.lodgement_number }}:
        </p>

        <ul>
            {% for invoice in invoices %}
                <li>{{ invoice.lodgement_number }}</li>
            {% endfor %}
        </ul>

        <p>
            Before payment can be requested from the lease/licence holder, the following steps must be taken for each invoice record:
        </p>

        <table>
            <tr><td>&bull;</td><td>Create an oracle invoice with details that match the invoice record</td></tr>
            <tr><td>&bull;</td><td>Convert it to a digital format &#40;i.e. pdf&#41;</td></tr>
            <tr><td>&bull;</td><td>Upload that invoice file to the invoice record</td></tr>
            <tr><td>&bull;</td><td>Enter the oracle invoice number on the invoice record</td></tr>
            <tr><td>&bull;</td><td>You will be prompted to confirm sending the request for payment to the lease/licence holder</td></tr>
        </table>
        <br />
        <a href="{{internal_invoices_url}}">View Invoice Records</a>
{%  endblock %}
