{% extends "ledgerui/accounts_base_b5.html" %}
{% load static %}
{% load users %}
{% load utils %}
{% load django_vite %}


{% block myaccount_nav %}
{% is_internal as is_internal_login %}

{% if is_internal_login is False %}
<button class="nav-link  managed-account-nav" id="nav-organisations-tab" data-bs-toggle="tab" data-bs-target="#nav-organisations" type="button" role="tab" aria-controls="nav-organisations" aria-selected="false">Organisations</button>
{% endif %}
{% endblock %}

{% block additional_content %}

<div id="nav-organisations-tab-page" style="display:none;">
    <div id="app">
    </div>
</div>

<script type="module" src="{% vite_asset_url vue3_entry_script %}?v={{ build_tag }}"></script>

<script language="javascript">
    var env = {
        "kmi_server_url": "{{ KMI_SERVER_URL }}",
        "gis_server_url": "{{ GIS_SERVER_URL }}"
    }
</script>

{% if app_build_url %}
    <script type="text/javascript" src="{{ app_build_url }}"></script>
{% else %}
    <script type="text/javascript" src="{% static 'leaseslicensing_vue/js/app.js' %}?v={{build_tag}}"></script>
{% endif %}

{% endblock %}

{% block menu_items_left_brand %}
    {% is_internal as is_internal_login %}
    <div class="navbar-nav">
            <div class="nav-item">
                <a class="nav-link" href="{% url 'home'%}"><img src="/static/img/pwl_icon.png">
                    {% if is_internal_login %}
                        Proposals
                    {% else %}
                        Home
                    {% endif %}
                </a>
            </div>
    </div>
{% endblock %}
