{% load users %}
{% load utils %}
{% is_leaseslicensing_admin as is_leaseslicensing_admin_user %}
{% is_organisation_access_officer as is_organisation_access_officer %}
{% is_finance_officer as is_finance_officer %}


{% if is_leaseslicensing_admin_user or request.user.is_superuser or is_finance_officer %}
    <li><a class="dropdown-item" href="/internal/reports">Reports</a></li>
{% endif %}
{% if is_leaseslicensing_admin_user or request.user.is_superuser %}
    <li role="separator" class="divider"></li>
{% endif %}
{% if request.user.is_superuser %}
    <li><a class="dropdown-item" href="{% url 'mgt-commands' %}">Management Commands</a></li>
{% endif %}
    <li><a class="dropdown-item" href="/ledger-ui/accounts">Manage Account</a></li>
{% if is_leaseslicensing_admin_user or is_organisation_access_officer or request.user.is_superuser %}
    <li><a class="dropdown-item" href="/internal/organisations">Manage Organisations</a></li>
{% endif %}
{% for org in organisations_user_can_admin %}
    <li><a class="dropdown-item" href="/external/organisations/manage/{{org.id}}">Manage {{ org.ledger_organisation_name}} </a></li>
{% endfor %}
