{% load users %}
{% load utils %}
{% is_internal as is_internal_login %}
{% is_leaseslicensing_admin as is_leaseslicensing_admin_user %}
{% can_show_tests as show_tests %}
{% system_name_short as short_name %}
{% dept_name as department_name %}
{% system_name as system_name %}
{% system_name_short as system_name_short %}
{% support_email as support_email %}
{% is_assessor as is_assessor %}
{% is_approver as is_approver %}
{% is_finance_officer as is_finance_officer %}
{% is_organisation_access_officer as is_organisation_access_officer %}
{% is_compliance_referee as is_compliance_referee %}
{% build_tag as build_tag %}

<ul class="nav navbar-expand-lg navbar-light align-items-center">
{% if is_internal_login %}
    {% if is_assessor or is_finance_officer %}
    <li class="nav-item"><a class="nav-link" href="/internal/approvals">Approvals</a></li>
    <li class="nav-item"><a class="nav-link" href="/internal/compliances">Compliances</a></li>
    {% endif %}
    {% if is_compliance_referee %}
    <li class="nav-item"><a class="nav-link" href="/internal/compliances">Compliances</a></li>
    {% endif %}
    {% if is_organisation_access_officer %}
    <li class="nav-item"><a class="nav-link" href="/internal/organisations/access">Organisation Access</a></li>
    {% endif %}
    {% if is_assessor or is_finance_officer %}
    <li class="nav-item"><a class="nav-link" href="/internal/invoices">Invoices</a></li>
    {% endif %}
    {% if is_assessor or is_approver or is_finance_officer %}
    <li class="nav-item"><a class="nav-link" href="/internal/search">Search</a></li>
    {% endif %}
{% else %}
    {% if request.user.is_authenticated %}
    <li class="nav-item"><a class="nav-link" href="/external/proposal"><button type="button" class="btn btn-sm" style="color:#fff; background-color:#226fbb; width:140px;" @click="new_application_button_clicked"><i
        class="fa-solid fa-circle-plus"></i> New Proposal</button></a></li>
    <li class="nav-item"><a class="nav-link" href="/external/invoices">Invoices</a></li>
    {% endif %}
{% endif %}
</ul>
