/* Bring app content inline with header logo and navbar */
div#app .container {
    padding: 0 40px 0 40px;
}

div#app .container h3 {
    margin-bottom: 22px;
}

.parks_bg_banner .col-lg-9 {
    display: flex !important;
    align-items: center !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #226fbb !important;
    border-color: #226fbb !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #5393d2 !important;
    border-color: #5393d2 !important;
}

.btn-horizontal-align {
    margin-left: 2px;
    margin-right: 2px;
}

.bg-primary {
    background-color: #226fbb !important;
}

.page-item>.page-link {
    color: #226fbb;
}

.nav-link {
    color: #226fbb;
}

.dt-buttons {
    margin-left: 8px;
}

.page-item.active>.page-link {
    color: #fff;
    background-color: #226fbb !important;

}

.text-primary {
    color: #226fbb !important;
}


.btn-licensing {
    min-width: 150px;
}

.licensing-btn-primary {
    color: #fff;
    background-color: #226fbb;
    min-width: 150px;
}

.licensing-btn-primary:hover {
    color: #fff;
    background-color: #5393d2;
}


.navbar button {
    width: 160px;
}

.topmast {
    height: 115px;
    padding-top: 0px;
    background: #3580ca url("../img/top-bg-grasses.gif") repeat-x center bottom;
}

@media (max-width: 992px) {
    .ps-banner h1 {
        display: none;
    }
}

.ps-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.ps-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.modal-header {
    background-color: #529b6b;
    color: #fcb13f;
}

.modal-body {
    background-color: #529b6b;
    color: #fff;
}

.modal-footer {
    background-color: #529b6b;
}

.popover {
    max-width: 100%;
}

.bg-navbar {
    background-color: #f5f5f5;
}

.form-floating textarea {
    padding-top: 40px !important;
    min-height: 70px !important;
    font-style: italic !important;
    color: #999 !important;
    padding-top: 36px !important;
    font-size: 14px !important;
}

/* Styles for mini referrals tables */

.table-referrals {
    font-size: 0.8em;
}

.fa-bell:hover,
.fa-times-circle:hover {
    opacity: 0.7;
}

.truncate-name {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styles for datatables */

.top-buffer-s {
    margin-top: 10px;
}

/* Styles for nav pills tabs */

.nav-pills .nav-item {
    margin-bottom: 2px;
}

.nav-pills .nav-item>li>a {
    background-color: yellow !important;
    color: #fff;
}

.nav-pills .nav-item>li.active>a,
.nav-pills .nav-item>li.active>a:hover,
.nav-pills .nav-item>li.active>a:focus {
    color: white;
    background-color: blue;
    border: 1px solid #888888;
}


.nav-pills .nav-link {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-right: 0.25em;
}

.nav-pills .nav-link {
    background: lightgray;
}

.nav-pills .nav-link.active {
    background: gray;
}

/* Sweet alert 2 styles */

.swal-wide {
    width: 650px !important;
}

.swal-extra-wide {
    width: 850px !important;
}

.swal-extra-wide .swal2-title {
    text-align: left;
    margin-top: 0 !important;
}

.swal-extra-wide .swal2-text {
    display: block;
    text-align: left;
}

.swal-extra-wide .swal2-container {
    text-align: left;
}

.swal-extra-wide .swal2-html-container {
    text-align: left !important;
    margin-left: 40px !important;
    justify-content: left;
}

.swal2-confirm {
    background-color: #226fbb !important;
}

.swal2-popup .swal2-styled:focus {
    box-shadow: none !important;
}

/* Vue3 Multiselect styles */

.multiselect__spinner::after {
    border-color: #226fbb transparent transparent !important;
}

.multiselect__tag {
    background: #226fbb !important;
}

.multiselect__tag-icon::after {
    color: #eee !important;
}

.multiselect__option--highlight {
    background: #226fbb !important;
}

.multiselect__option--highlight::after {
    background: #226fbb !important;
}


/* Datatables styles */


table.dataTable a {
    color: #226fbb;
}

table.dataTable a:hover {
    color: #5393d2;
}


.collapse-icon {
    cursor: pointer;
}

.expand-icon {
    cursor: pointer;
}

/* Custom spinner - Todo: Make the bootstrap spinner component more robust in the gov vue3 utils package */
.invoice-preview-spinner .spinner-center-component {
    margin-top: 0px !important;
    margin-left: 0px !important;
}


/* Tooltip styles */

.tooltip .tooltip-inner {
    background-color: #226fbb !important;
}

.tooltip .tooltip-arrow {
    border-right-color: #226fbb !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #226fbb !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #226fbb !important;
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: #226fbb !important;
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: #226fbb !important;
}
