/* Bring app content inline with header logo and navbar */
div#app .container {
    padding: 0 40px 0 40px;
}

.btn-primary{
    color: #fff  !important;
    background-color: #226fbb !important;
}

.btn-primary:hover {
    color: #fff  !important;
    background-color: #5393d2 !important;
    border-color:#5393d2 !important;
}

.bg-primary{
    background-color: #226fbb !important;
}

.page-item > .page-link {
    color: #226fbb;
}

.nav-link {
    color: #226fbb;
}

table.dataTable a {
    color: #226fbb;
}

table.dataTable a:hover {
    color: #5393d2;
}

.dt-buttons {
    margin-left:8px;
}

.page-item.active > .page-link {
    color:#fff;
    background-color: #226fbb !important;

}

.text-primary{
    color: #226fbb !important;
}


.licensing-btn {
    min-width:150px;
}

.licensing-btn-primary {
    color: #fff;
    background-color: #226fbb;
    min-width:150px;
}

.licensing-btn-primary:hover {
    color: #fff;
    background-color: #5393d2;
}


.navbar button {
    width:160px;
}

.topmast {
    height: 115px;
    padding-top: 0px;
    background: #3580ca url("../img/top-bg-grasses.gif") repeat-x center bottom;
}

@media (max-width: 992px) {
    .ps-banner h1 {
        display: none;
    }
}

.ps-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.ps-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.modal-header {
    background-color: #529b6b;
    color: #fcb13f;
}

.modal-body {
    background-color: #529b6b;
    color: #fff;
}

.modal-footer {
    background-color: #529b6b;
}

.popover {
    max-width: 100%;
}

/* Styles for datatables */

.collapse-icon {
    cursor: pointer;
}

.collapse-icon::before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 14px;
    border: 2px solid white;
    line-height: 14px;
    content: '-';
    color: white;
    background-color: #d33333;
    display: inline-block;
    box-shadow: 0px 0px 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier monospace;
    margin: 5px;
}

.expand-icon {
    cursor: pointer;
}

.expand-icon::before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 14px;
    border: 2px solid white;
    line-height: 14px;
    content: '+';
    color: white;
    background-color: #337ab7;
    display: inline-block;
    box-shadow: 0px 0px 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier monospace;
    margin: 5px;
}
