{% extends 'leaseslicensing/base.html' %}

{% load static %}
{% load utils %}

{% block left_menu_items %}
    <li><a  href="{% url 'ds_contact' %}">Contact Us</a></li>
    <li><a  href="{% url 'ds_further_info' %}">Further Information</a></li>
{% endblock %}

{% block messages %}
{% endblock %}

{% block custom_js %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    Welcome to the {% system_name %} System
                </h2>
                <p class="w-75">
                    Login to the system to apply for a lease or licence, to comply with a lease or licence or condition or to view and update your details.
                </p>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <strong>Access {% system_name %}</strong>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            At the Department of Biodiversity, Conservation and Attractions, we employ a password-less authentication system, meaning you never need to remember
                            a password. When you need to login to a site, such as {% system_name %}, simply enter your email and an
                            authentication code will be sent to your registered email address. From there, enter the code on screen to complete the login process.
                        </p>
                        <a href="/ssologin" class="btn btn-primary">Login</a>
                    </div>
                  </div>

            </div>
        </div>
    </div>
{% endblock %}
